body {
  background-color: #28282B;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#grid{
  border-radius: 5px;
  border: 10px;
  width: 70.8%;
  border-color: #FF006E;
  border-style: groove;
  display:inline;
  font-size: 0;
}
.row{
  display: inline-flex;
  margin: 0;
}
.cell {
  background-color: #FFF;
  margin: 0;
}
.title {
  margin: 0;
  color: #EEFF00;
}
.container {
  margin: 2%;
  background-color: #9A6595;
  margin: 5%;
  display: flex;
  height: 85vh;
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-color: #9A6595;
  border-radius: 25px;
  border-style: solid;
}
.btn{
  margin-top: 50%;
  background-color: #EEFF00;
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 10px 12px;
  text-align: center;
}
.value {
  margin: 0;
  position: relative;
  display: block;
  text-align: center;
  font-size: 25px;
  color: #EEFF00;
  font-weight: 400;
}
.range {
  width: 300px;
  height: 15px;
  -webkit-appearance: none;
  background: #E0E0E0;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #EEFF00;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -307px 0 0 300px #EEFF00;
}
.colorPick{
  border: 1px solid black;
  height: 15px;
  margin: 1.5% 0;
  padding: 0;
  background-color: black;
  border-radius: 15px;
  width: 300px;
}
::-webkit-color-swatch{
  border:none;
}
